<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">

    <mat-toolbar>
      <img src="./assets/logo.jpg" 
      style="width:160px;height:60px;"/>
    </mat-toolbar>
    
    <mat-nav-list>
      <a mat-list-item routerLink="/">
        <i class="material-icons">dashboard</i>
        Tableau de bord</a>
      <mat-divider></mat-divider>

      <a mat-list-item routerLink="./temps">
        <i class="material-icons">calendar_today</i>
        Mes Temps</a>
      <mat-divider></mat-divider>

      <a mat-list-item routerLink="./frais">
        <i class="material-icons">monetization_on</i>
        Mes frais</a>
      <mat-divider></mat-divider>

      <a mat-list-item routerLink="/">
        <i class="material-icons">insert_invitation</i>
        Mes Absence</a>
      <mat-divider></mat-divider>

      <a mat-list-item routerLink="/">
        <i class="material-icons">work</i>
        Mes projets</a>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >

        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <strong>BOOND<span style="color: #FFA500;">MANAGER</span></strong>

      <!-- -->
      <div>
        <span class="example-fill-remaining-space"></span>
        <span class="align-center"></span>
        <span class="example-spacer"></span>
        <button mat-button>About</button>
        <button mat-button>Contact</button>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Check voicemail</span>
          </button>
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->

    <ng-content></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>
