.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: rgb(235, 235, 235);
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
