<h2 class="mat-h2">Mes Temps</h2>
<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">
    
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

   <!-- Periode Column -->
   <ng-container matColumnDef="periode">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Periode</th>
    <td mat-cell *matCellDef="let row">{{row.periode}}</td>
  </ng-container>

  <!-- Validation Column -->
  <ng-container matColumnDef="validation">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Validation</th>
    <td mat-cell *matCellDef="let row">{{row.validation}}</td>
  </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; 
      columns: displayedColumns;"></tr>
   
  </table>

  <mat-paginator #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
  
</div>
