<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="1" rowHeight="350px">
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Bienvenue sur BoondManager
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <!--div>
              <img src="./assets/dashboardimg.png" alt="Pineapple" 
              style="width:170px;height:170px;float:left;margin-right:15px;margin-bottom:10px;">
              
              <div class="main">

                <div class="container-fluid">
                 <div class="row">
                   <div class="col" style="background-color:WhiteSmoke; border-left: 5px solid chocolate">
                     <nav class="navbar navbar-expand-lg navbar-light">
                       <h5>Tableau de bord</h5>
                     </nav>
                   </div>
                 </div>
                
                
                   <div class="row">
                     <div class="col-1"></div>
                     <div class="col-11">
                     <h4 style="color: blue; margin-top: 20px">Bienvenue sur BoondManager</h4>
                     </div>
                   </div>
                
                
                   <div class="row">
                     <div class="col-2" style="border-right: 5px solid WhiteSmoke">
                       <img src="./assets/Boondmanager-Mascot-Jump.png" style="width: 70px; height: 150px; margin-left: 50px">
                     </div>
                     <div class="col-10">
                       <p style="margin-top: 10px">Cette interface vous permet de : </p>
                       <ul>
                         <li>
                           Consulter/Modifier votre <b>dossier technique</b> (DT)
                         </li>
                         <li>
                           Saisir vos <b>feuilles de temps</b> & vos <b>notes de frais</b>
                         </li>
                         <li>
                           Effacer vos <b>demandes d'absences</b>
                         </li>
                         <li>
                           Consulter vos <b>projets</b>
                         </li>
                       </ul>
                     </div>
                   </div>
                
                   <div class="row">
                     <div class="col-1"></div>
                     <div class="col-11">
                       <h5 style="margin-top: 10px">Navigation</h5>
                     </div>
                   </div>
                
                   <div class="row">
                     <div class="col-2" style="border-right: 5px solid WhiteSmoke">
                     </div>
                     <div class="col-10">
                       <p>
                         La barre latérale haute vous permet d'accéder à votre fiche et à la liste de vous projets.
                       </p>
                       <p>
                         Saisissez le informations du document durant cette période
                       </p>
                     </div>
                   </div>
                
                   <div class="row">
                     <div class="col-1"></div>
                     <div class="col-11">
                       <h5 style="margin-top: 10px">Votre fiche - temps, frais & absences</h5>
                     </div>
                   </div>
                
                   <div class="row">
                     <div class="col-2" style="border-right: 5px solid WhiteSmoke">
                     </div>
                     <div class="col-10">
                       <ul>
                         <li>
                           Sélectionnez le document à créer ou modifier
                         </li>
                         <li>
                           Saisissez le informations du document durant cette période
                         </li>
                       </ul>
                     </div>
                   </div>
                 </div>
                </div>
              </div -->
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
